# .gitignore

# Exclude compiled Python files
__pycache__/

# Exclude JetBrains IDE configuration
.idea/

# Exclude Visual Studio Code configuration
.vscode/

# Exclude virtual environment
mainenv/
venv/

# Exclude .env file
.env

aienv/
test.ipynb
test.py
test.txt
main.py
.env copy.template
token/
modules/
setup.py
demo.py